@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@font-face {
  font-family: 'Virgil';
  src: url('https://excalidraw.com/Virgil.woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
  --mermaid-font-family: 'Fira Mono';
  --mpi-green: #006c66;
  --hits-dark-blue: #003063;
  --hits-signal-blue: #004f9f;
  --hits-cyan: #0088c2;
  --hits-cyan-light: #55b4dc;
  --hits-green-light: #89b77a;
  --hits-magenta-light: #da7da6;
  --hits-yellow-light: #ffe07d;
  --red: #cc0130;
  --dark-red: #ad0028;
  --mpi-green-secondary: #055000;
  --hits-blue: #1E4287;
  --hits-green: #019050;
  --hits-magenta: #c3006b;
  --hits-yellow: #ffcc00;
  --mpi-dark-grey: #777777;
  --qm-orange: #f49146;
  --mm-green: #4dac71;
}

.blue {
  color: var(--hits-dark-blue);
}

.red {
  color: var(--dark-red);
}

.title p {
  justify-content: left;
  text-align: left;
  margin-top: 7rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.reveal .quarto-title-block .quarto-title-authors {
  justify-content: left;
  text-align: left;
  margin-left: 2rem;
  color: var(--mpi-green);
}
.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
  padding: 0;
}

.quarto-title-author-name {
  font-size: 5rem;
  font-weight: bold;
}

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

.align {
  text-align: center;
  margin-inline: auto !important;
  display: block;
}

.cc {
  text-align: center;
}

/* thicker strikethrough */
del {
  text-decoration-thickness: 0.1em;
}

.g2x1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.g2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}


.orange {
  border: 7px solid var(--qm-orange);
  border-radius: 15px;
}

.green {
  border: 7px solid var(--mm-green);
  border-radius: 15px;
}

blockquote {
  font-family: Merriweather, serif;
}

#title-slide h1 {
  font-size: 6rem;
}

#title-slide .subtitle {
  /* font-size: 4rem; */
  font-style: italic;
  font-family: Merriweather, serif;
}

#title-slide .quarto-title-author {
  font-size: 3rem;
}

#bg {
  z-index: -1;
}

.reveal h3 {
  font-size: 3rem;
}

.reveal .cent,
.reveal .cent>p,
.cent>img {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.large {
  font-size: 4rem;
}

.tiny {
  margin-top: 10%;
  font-size: 0.9rem;
}

.black>p {
  color: black;
}

.reveal div.sourceCode,
.reveal .columns div.sourceCode,
.reveal div.code-with-filename {
  border: 2px solid grey;
  margin-bottom: 1lh;
}

div .molstar-app {
  height: 500px;
  position: relative;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 1rem;
  max-width: 100%;
}

.profile li {
  list-style: none;
}

.profile li a::before {
  margin: 10px;
}

#bar {
  position: absolute;
  bottom: 5%;
  background-color: var(--mpi-green);
  width: 80%;
}

#bar .profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

#bar .profile li {
  display: inline-block;
  margin-inline: 0.5rem;
}

#bar li,
#bar a,
#bar p {
  color: white;
  margin: 1rem auto 0.5rem auto;
}

#bar .profile li #cat {
  font-weight: bold;
  font-size: 2.5rem;
}

#qr {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 256px;
}

#qr-kmdy {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0%;
  right: 0%;
}

#acknowledge {
  font-size: 0.9rem;
  text-align: center;
}

.msp-plugin .msp-material-icon svg {
    color: var(--mpi-green);
}

