/*-- scss:defaults --*/

$body-color: #222;
$mpi-green: #006c66;
$hits-blue: #1E4287;
$hits-green: "#019050";
$hits-magenta: "#c3006b";
$hits-yellow: "#ffcc00";

$code-color: $body-color;
$link-color: $mpi-green;

